<md-card>
  <div layout="row" layout-align="center center">
    <div flex="25"></div>
    <img width="300" ng-src="/app/modules/home/assets/pass_logo.png" class="md-card-image" alt="PASS Logo">
    <div flex="25"></div>
  </div>
  <md-card-title>
    <md-card-title-text>
      <span class="md-headline">PASS Stack</span>
    </md-card-title-text>
  </md-card-title>
  <md-card-content>
    <p>
      PASS, an acronym for Play Angular Scala Slick, with <a href="https://github.com/pass-stack/generator-pass">generator-pass</a>
      It'll make Web Developpement a breeze.
    </p>
    <p></p>
  </md-card-content>
</md-card>