<!DOCTYPE html>
<html ng-app="app">
<head>
  <link rel="apple-touch-icon" sizes="57x57" href="/app/modules/core/assets/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/app/modules/core/assets/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/app/modules/core/assets/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/app/modules/core/assets/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/app/modules/core/assets/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/app/modules/core/assets/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/app/modules/core/assets/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/app/modules/core/assets/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/app/modules/core/assets/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="/app/modules/core/assets/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/app/modules/core/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/app/modules/core/assets/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/app/modules/core/assets/favicon-16x16.png">
  <link rel="manifest" href="/app/modules/core/assets/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">
  <meta charset="UTF-8">
  <meta name="fragment" content="!">
  <base href="/">
  <title>yo</title>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- bower:css -->
  <!-- endbower -->
</head>
<body>
  <ui-view></ui-view>
  <!-- bower:js -->
  <!-- endbower -->
  <script src="/app/app.js"></script>
  <!-- PASS/Modules/Start -->
  <script src="/app/modules/core/core.module.js"></script>
  <script src="/app/modules/core/services/sidenav.js"></script>
  <script src="/app/modules/core/controllers/template.js"></script>
  <script src="/app/modules/home/home.module.js"></script>
  <script src="/app/modules/home/controllers/home.js"></script>
  <!-- PASS/Modules/End -->
</body>
</html>