<md-card>
  <md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
      <span><%= moduleNameCap %></span>
    </div>
  </md-toolbar>
  <div class="md-padding">
    <form name="userForm" layout="column">
      <% fields.forEach(function(field){ %>
      <md-input-container>
        <label for="<%= field.name %>"><%= field.name %></label>
        <input id="<%= field.name %>" name="<%= field.name %>" type="<%= field.htmlType %>" ng-model="<%= moduleName %>.<%= field.name %>">
      </md-input-container><% }); %>
    </form>
  </div>
  <md-card-actions layout="row" layout-align="end center">
    <div flex="15" layout="column">
      <md-button class="md-primary md-raised" ng-click="vm.update($event, <%= moduleName %>)">{{ vm.action }}</md-button>
    </div>
    <div flex="5"></div>
    <div flex="15" layout="column">
      <md-button class="md-warn md-raised" ng-click="vm.delete($event, <%= moduleName %>)">Delete</md-button>
    </div>
  </md-card-actions>
</md-card>